name: build
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.18
      uses: actions/setup-go@v1
      with:
        go-version: 1.18
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        path: src/github.com/dueckminor/go-sshtunnel

    - name: Build
      run: |
        export GOPATH="${RUNNER_WORKSPACE}"
        ./scripts/build

  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v3
        with:
          context: ./
          push: false
          platforms: linux/arm64,linux/amd64
          file: ./docker/sshtunnel/Dockerfile
          tags: dueckminor/sshtunnel:latest
